<div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <h1>Book Store</h1> 
        </nav>
        <nav>
          <ul>
            <li><a href = "a" routerLink ="/create"> Create</a></li>
          </ul>
        </nav>
        <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <select class="form-control" style="width:60%" name="value" 
                                 (change)="sortBooks($event.target.value)">
                            <option value="0">Sort By</option>
                            <option value="author">Author</option>
                            <option value="year">Year</option>
                            <option value="price">Price</option>
                        </select>
                    </div>
            </div>
    <div  *ngFor="let book of books">
        <div class="card-deck mb-3 text-center">
          <div class="card mb-4 shadow-sm">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">{{book.bookname}}</h4>
            </div>
            <div class="card-body">
                    <h4 #BookId class="card-text">Book ID:{{book.bookid}}</h4>
                    <h4 class="card-title pricing-card-title">Author:{{book.author}}</h4>
                    <h4 class="card-title pricing-card-title">Year Published:{{book.year}}</h4>
                    <h4 class="card-title pricing-card-title">Price:${{book.price}}</h4>
                    <button class = "btn-class" [routerLink] ="['/edit']" (click)="onEdit(book.bookid)">Edit</button>
                    <button class = "btn-class" (click)="onDelete(book.bookid)">Delete</button>
            </div>
        </div>
          </div>
</div>

<router-outlet></router-outlet>